In [1]:
import pandas as pd
from collections import Counter

In [2]:
with open('cornell movie-dialogs corpus/movie_lines.txt','rb') as f:
    movie_lines = f.readlines()

In [3]:
from nltk import WordNetLemmatizer
from nltk import word_tokenize

In [4]:
lemmatizer = WordNetLemmatizer()

In [5]:
lineID = []
characterID = []
movieID = []
char_name = []
text = []
for x in range(0,len(movie_lines)):
    try:
        lineID.append(movie_lines[x].decode().split('\n')[0].split(' +++$+++ ')[0])
        characterID.append(movie_lines[x].decode().split('\n')[0].split(' +++$+++ ')[1])
        movieID.append(movie_lines[x].decode().split('\n')[0].split(' +++$+++ ')[2])
        char_name.append(movie_lines[x].decode().split('\n')[0].split(' +++$+++ ')[3])
        text.append(movie_lines[x].decode().split('\n')[0].split(' +++$+++ ')[4])
    except:
        pass

In [6]:
movie_lines = pd.DataFrame()
movie_lines['lineID']  = lineID
movie_lines['characterID'] = characterID
movie_lines['movieID'] = movieID
movie_lines['char_name'] = char_name
movie_lines['text'] = text

In [7]:
movie_lines.head()

  lineID characterID movieID char_name          text
0  L1045          u0      m0    BIANCA  They do not!
1  L1044          u2      m0   CAMERON   They do to!
2   L985          u0      m0    BIANCA    I hope so.
3   L984          u2      m0   CAMERON     She okay?
4   L925          u0      m0    BIANCA     Let's go.

In [8]:
type(movie_lines.lineID[0])

str

In [9]:
with open('cornell movie-dialogs corpus/movie_conversations.txt','rb') as f:
    movie_conv = f.readlines()

In [10]:
characterID1 = []
characterID2 = []
movieID = []
list_utterances = []
for x in range(len(movie_conv)):
    try:
        characterID1.append(movie_conv[x].decode().split('\n')[0].split(' +++$+++ ')[0])
        characterID2.append(movie_conv[x].decode().split('\n')[0].split(' +++$+++ ')[1])
        movieID.append(movie_conv[x].decode().split('\n')[0].split(' +++$+++ ')[2])
        list_utterances.append(movie_conv[x].decode().split('\n')[0].split(' +++$+++ ')[3])
    except:
        pass

In [11]:
movie_conv = pd.DataFrame()
movie_conv['characterID1'] = characterID1
movie_conv['characterID2'] = characterID2
movie_conv['movieID'] = movieID
movie_conv['list_utterances'] = list_utterances

In [12]:
len(movie_conv)

83097

In [13]:
len(movie_lines)

301979

In [14]:
movie_conv.list_utterances[0]

"['L194', 'L195', 'L196', 'L197']"

In [15]:
movie_lines['number'] = movie_lines['lineID'].apply(lambda x: int(x[1:]))
movie_lines['char'] = movie_lines['lineID'].apply(lambda x: str(x[0]))

In [16]:
movie_lines.head()

  lineID characterID movieID char_name          text  number char
0  L1045          u0      m0    BIANCA  They do not!    1045    L
1  L1044          u2      m0   CAMERON   They do to!    1044    L
2   L985          u0      m0    BIANCA    I hope so.     985    L
3   L984          u2      m0   CAMERON     She okay?     984    L
4   L925          u0      m0    BIANCA     Let's go.     925    L

In [17]:
movie_lines = movie_lines.sort_values('number')

In [18]:
movie_lines['text_lem'] = movie_lines['text'].apply(lambda x: lemmatizer.lemmatize(x))

In [19]:
movie_lines['text_lem' ]=  movie_lines['text_lem'].apply(lambda x: x.lower())

In [20]:
movie_lines.head()

,lineID,characterID,movieID,char_name,text,number,char,text_lem
86,L49,u0,m0,BIANCA,Did you change your hair?,49,L,did you change your hair?
85,L50,u3,m0,CHASTITY,No.,50,L,no.
84,L51,u0,m0,BIANCA,You might wanna think about it,51,L,you might wanna think about it
648,L59,u9,m0,PATRICK,I missed you.,59,L,i missed you.
647,L60,u8,m0,MISS PERKY,It says here you exposed yourself to a group o...,60,L,it says here you exposed yourself to a group o...

In [21]:
def clean(x):
    x = x.lower()
    x = x.replace('.','tanay2711').replace('!', 'tanay2711').replace(',','tanay2711').replace('-','tanay2711')
    x = x.replace('tanay2711','')
    return x

In [22]:
movie_lines['text_lem'] = movie_lines['text_lem'].apply(lambda x : clean(x))

In [23]:
movie_lines.head()

,lineID,characterID,movieID,char_name,text,number,char,text_lem
86,L49,u0,m0,BIANCA,Did you change your hair?,49,L,did you change your hair?
85,L50,u3,m0,CHASTITY,No.,50,L,no
84,L51,u0,m0,BIANCA,You might wanna think about it,51,L,you might wanna think about it
648,L59,u9,m0,PATRICK,I missed you.,59,L,i missed you
647,L60,u8,m0,MISS PERKY,It says here you exposed yourself to a group o...,60,L,it says here you exposed yourself to a group o...

In [24]:
def lexicon(column_name):
    lexicon = []
    for line in movie_lines[column_name]:
        all_words = word_tokenize(line)
        lexicon +=list(all_words)
    lexicon = [lemmatizer.lemmatize(n) for n in lexicon]
    count_words = Counter(lexicon)
    lexicon_final = []
    for word in count_words:
        lexicon_final.append(word)
    return lexicon_final

In [25]:
lexicon = lexicon('text_lem')

In [26]:
len(lexicon)

55847

In [27]:
import pickle
with open('lexicon1.txt','wb') as fd:
    pickle.dump(lexicon,fd)

In [ ]:
def target_text(df, columns):
    #tempdf = pd.DataFrame()
    for movieid in movie_lines.movieID.unique():
        tempdf = movie_lines[movie_lines.movieID == movieid]
        target

In [120]:
len(count_words)

61540

In [137]:
import ast

In [ ]:
mapping_conv = {}

for x in movie_conv.list_utterances:
    
    i = 0
    x = ast.literal_eval(x)
    print(x[1])
    
    while i < len(x):
        try:
            mapping_conv[x[i]] = x[i+1]
            i+=1
        except:
            break
        #print(i)

In [150]:
input_value = list(mapping_conv.keys())

In [151]:
target_line = list(mapping_conv.values())

In [ ]:
input_text = []
for lineids in input_value:
    #print(lineids)
    input_text.append(movie_lines[movie_lines.lineID==lineids]['text_lem'])

In [155]:
DF = pd.DataFrame()
DF['INPUTS'] = input_text
try:
    DF.to_json('input.json')
except:
    DF.to_csv('input.csv')

In [156]:
target_text = []
for lineids in target_lineline:
    target_text.append(movie_lines[movie_lines.lineID==lineids]['text_lem'])
DF['TARGET'] = target_text
try:
    DF.to_json('data.json')
except:
    DF.to_csv('data.csv')

In [162]:
DF.INPUTS[0][68]

'can we make this quick?  roxanne korrine and andrew barrett are having an incredibly horrendous public break- up on the quad  again'

In [182]:
movie_lines[movie_lines.lineID == 'L65280']['text_lem'].iloc[0]

'welcome to the hotel earle may i help you sir?'

In [239]:
def rem(x):
    try:
        return x.iloc[0]
    except:
        return 'tanay2711'

In [240]:
DF['inputs'] = DF['INPUTS'].apply(lambda x:rem(x))

In [247]:
DF['TARGET'] = DF.TARGET.apply(lambda x:rem(x))

In [246]:
DF.INPUTS = DF.inputs

In [265]:
DF.drop(DF[DF['TARGET']=='tanay2711'].index, axis = 0, inplace=True)

In [251]:
del DF['inputs']

In [266]:
DF.reset_index(inplace=True)

In [271]:
DF['INPUTS'] = DF['INPUTS'].apply(lambda x: clean(x))
DF['TARGET'] = DF['TARGET'].apply(lambda x: clean(x))

In [274]:
del DF['index']

In [275]:
del DF['level_0']

In [276]:
DF.head()

,INPUTS,TARGET
0,can we make this quick? roxanne korrine and a...,well i thought we'd start with pronunciation i...
1,well i thought we'd start with pronunciation i...,not the hacking and gagging and spitting part ...
2,not the hacking and gagging and spitting part ...,okay then how 'bout we try out some french cui...
3,you're asking me out that's so cute what's yo...,forget it
4,no no it's my fault we didn't have a proper i...,cameron

In [277]:
DF.to_json('data.json')